.curved-loop-jacket {
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0.5rem 0;
}

.curved-loop-svg {
  user-select: none;
  width: 100%;
  aspect-ratio: 100 / 4;
  overflow: visible;
  display: block;
  font-size: 1rem;
  fill: #ffffff;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
}

@media (min-width: 768px) {
  .curved-loop-svg {
    font-size: 1.25rem;
  }
}
